<include file="Application/Admin/View/Index/sidebar.html" />

<!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">添加管理员</strong> / <small>创建</small></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">

                <form class="am-form" method="post" action="__ROOT__/?s=/Admin/Index/addAdmin" >

                    <label >管理员:</label>
                    <input type="text" name="user" value="" placeholder="输入用户名" >
                    <br>
                    <label >密码:</label>
                    <input type="password" name="pwd"  value="" placeholder="输入密码" >



                    <p><button type="submit" class="am-btn am-btn-default am-btn-fr">创建</button>&nbsp<button type="reset" class="am-btn am-btn-danger am-btn-fr">重置</button></p>

                </form>


            </div>
        </div>


        <footer>
            <hr>
            <p class="am-padding-left">   © 2015 CopyRight</p>
        </footer>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="Public/amaze-css/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="Public/amaze-css/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="Public/amaze-css/assets/js/amazeui.min.js"></script>
<script src="Public/amaze-css/assets/js/app.js"></script>
</body>
</html>
