
            <include file="Application/Admin/View/Index/sidebar.html" />


    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">奖品管理</strong> / <small>编辑</small></div>
        </div>

        <div class="am-g">

                <div class="am-u-sm-12">
                    <form method="post" class="am-form" action="__ROOT__/?s=/Admin/Index/updateAward">
                        <div class="am-form-group">
                            <label>等级</label>
                            <select id="doc-select-1" style="width:100px;" name="awardLevel" value="{$editAward.award_level}">
                            <option value="{$editAward.award_level}" >{$editAward.award_level}</option>
                                <option value="特等奖">特等奖</option>
                                <option value="一等奖">一等奖</option>
                                <option value="二等奖">二等奖</option>
                                <option value="三等奖">三等奖</option>
                                <option value="五等奖">五等奖</option>

                            </select>
                            <input style="display: none;" type="number"  name="id" value="{$editAward.id}" >

                            <br>


                            <label>奖品名称</label>
                            <input style="width:300px;" type="text" class="goodsName" name="goodsName" value="{$editAward.goods_name}" placeholder="每个等级的奖品名称">
                            <br>
                            <label>奖品数量</label>
                            <input style="width:500px;" type="number" class="goodsNumber"  name="goodsNumber" value="{$editAward.winner_number}" placeholder="每个等级的奖品数量">

                        </div>

                        <input type="submit" name="" value="提交" class="am-btn am-btn-success am-btn-sm am-fl">&nbsp


                    </form>
                    <hr>
                </div>






        <footer>
            <hr>
            <p class="am-padding-left">   © 2015 CopyRight</p>
        </footer>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="Public/amaze-css/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="Public/amaze-css/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="Public/amaze-css/assets/js/amazeui.min.js"></script>
<script src="Public/amaze-css/assets/js/app.js"></script>
</body>
</html>
