<include file="Application/Admin/View/Index/sidebar.html" />

<!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">


        <div class="am-g">
            <div class="am-u-sm-12">
                <hr/>

                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>未到人员</small></div>

                </div>
                <table class="am-table am-table-bd am-table-striped admin-content-table">
                    <thead>
                    <tr>
                        <th>编号</th><th>姓名</th><th>手机号</th><th>身份</th><th>管理</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="vol">


                        <tr>
                            <td>{$vol.id}</td>
                            <td>{$vol.real_name}</td>
                            <td>{$vol.department}</td>
                            <td>{$vol.status}</td>
                            <td>
                                <div class="am-dropdown" data-am-dropdown>
                                    <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog am-icon-spin"></span> <span class="am-icon-caret-down"></span></button>
                                    <ul class="am-dropdown-content">

                                        <li><a href="__ROOT__?s=/Admin/Index/deleteNotHereStaff&id={$vol.id}">删除</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>


            </div>
        </div>



        <footer>
            <hr>
            <p class="am-padding-left">   © 2015 CopyRight.由Machine提供技术支持</p>
        </footer>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="Public/amaze-css/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="Public/amaze-css/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="Public/amaze-css/assets/js/amazeui.min.js"></script>
<script src="Public/amaze-css/assets/js/app.js"></script>
</body>
</html>
