<include file="Application/Admin/View/Index/sidebar.html" />

<!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">年会设置</strong> / <small>参会人数</small></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">

                <form class="am-form" method="post" action="__ROOT__/?s=/Admin/Index/updateMeetingNum" >


                        <div class="am-form-group">

                            <input type="number" class="" name="meeting" id="doc-ipt-name-1" placeholder="输入设置会议人数" >
                        </div>


                        <p><button type="submit" class="am-btn am-btn-default am-btn-fr">提交</button></p>

                </form>


            </div>
        </div>
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">年会设置</strong> /
                <small>设置抽奖等级</small></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">

                <form class="am-form" method="post" action="__ROOT__/?s=/Admin/Index/setNowLevel" >


                    <div class="am-form-group">
                        <select id="doc-select-1"  name="nowLevel">
                            <option value="五等奖">五等奖</option>
                            <option value="四等奖">四等奖</option>
                            <option value="三等奖">三等奖</option>
                            <option value="二等奖">二等奖</option>
                            <option value="一等奖">一等奖</option>
                            <option value="特等奖">特等奖</option>

                        </select>

                    </div>


                    <p><button type="submit" class="am-btn am-btn-default am-btn-fr">提交</button></p>

                </form>


            </div>
        </div>
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">年会设置</strong> /
                <small>当前等级</small></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-form-group">


                    <label >当前抽奖等级: <a style="color: #FF1627" id="nowSpecialToggle"> {$nowLevel} </a></label><br/>


                </div>

            </div>
        </div>

        <!--<div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">年会设置</strong> /
                <small>特等奖状态</small></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-form-group">


                    <label >目前开启状态: <a style="color: #FF1627" id="nowSpecialToggle"> {$specialToggle} </a></label><br/>


                </div>

            </div>
        </div>

        <hr>
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">年会设置</strong> /
                <small>特等奖配置</small></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-form-group">
                    <label >是否开启特等奖<a style="color: #4b59ff">  </a></label><br/>




                             <label class="am-radio-inline">

                                    <input type="radio"  name="specialLevel" value='是'> 是


                            </label>
                            <label class="am-radio-inline">

                                <input type="radio" name="specialLevel" value='否' >否
                            </label>


                </div>

            </div>
        </div>

-->

        <footer>
            <hr>
            <p class="am-padding-left">   © 2015 CopyRight</p>
        </footer>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="Public/amaze-css/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="Public/amaze-css/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="Public/amaze-css/assets/js/amazeui.min.js"></script>
<script src="Public/amaze-css/assets/js/app.js"></script>
<script>
    $('input[name=specialLevel]').click(function(){
       var toggle =  $(this).val();
        if(toggle!=''){
            $('#nowSpecialToggle').text(toggle);
        }

        //alert('开启特等奖: '+toggle);
        $.post("?s=/Admin/Index/checkSpecial",
                {
                    toggleValue:toggle
                },
                function(data){
                    if(data!=""){
                        alert(data);
                    }

                });

    })
</script>
</body>
</html>
