@charset "utf-8";
*{margin:0;padding:0;}
body, html{width:100%;height:100%;}
body{background:url("../mainPageImage/body_bg.jpg") repeat-x;}
#mainBody{position:relative;width:100%;height:100%;}
cloud{position:absolute;top:0px;left:0px;width:100%;height:100%;background:url("../mainPageImage/cloud.png") no-repeat;z-index:1;opacity:0.8;}
#cloud2{z-index:999;}
#weather{background:url(../mainPageImage/sunshine_0.png) no-repeat;border-radius:90px;width:150px;height:150px;position:absolute;left:440px;top:30px;z-index:2;}
#weather img{margin:30px -90px;}